[submodule "coreHTTP"]
	path = coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP.git
[submodule "coreJSON"]
	path = coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "FreeRTOS-Plus-TCP"]
	path = FreeRTOS-Plus-TCP
	url = https://github.com/FreeRTOS/FreeRTOS-Plus-TCP.git
