[submodule "coreHTTP"]
	path = coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP.git
[submodule "coreJSON"]
	path = coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "corePKCS11"]
	path = corePKCS11
	url = https://github.com/FreeRTOS/corePKCS11.git
